h2 {
	text-align: center;
	color: mediumvioletred;
	font-family: 'Roboto';
}

p {
	font-size: 110%;
}

label {
	 margin-top: 15px; 
}

canvas {
	padding: 0;
	margin: 0 auto;
	display: block;
}

fieldset {
	margin-top: 10px;  
	border: 2px solid LightSeaGreen;
	display: inline;  
}


/*buttons div */
#reg-settings {
	margin-top: 20px;
	width: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*BS button */
.btn-default, .btn-primary, .btn-info, .btn-warning, .btn-danger {
	color: white;	
	font-weight: bold;
} 


#startstop {
	background-color: #090;
}

#reset {
	background-color: cornflowerblue;
}

#randomize {
	background-color: chocolate;
}

#nextstep {
	background-color: orange;
} 

/* settings */
.settings {
	width: 600px;
	margin: 0 auto;
	margin-top: 30px;
}

#hint {
	/* margin-bottom: -5px; */
}
#hint em {
	font-style: bolder;
	color: magenta;

}

#slider {
	width: 80%;
}


#funsettings {
	padding-left: 40%; 
	color: Blue;
	margin-bottom: 15px;
}

.dimensions {
	font-weight: normal;
}

.dimensions span {
	font-weight: bold;
}


#dimensions {
	display: inline-block;
}

#grid-size {
	display: inline;
}



/* extra settings */
#changeRadius {
	width: 110px;
}



#default {
	margin-bottom: 15px;
	margin-top: 15px;
	height: 35px;
}


#wackySettings {
	padding-left: 40%;
	color: red;
	font-weight: bold;

}
.wackySettings span {
	font-weight: bold;
}

.wackySettings button {
	height: 35px;
}

#outsideMode{
	color: dodgerblue;
}









